# Ejercicio Python ASQ

## Introducción

**Ejercicio 1**

Escribir un programa que lea un entero porsitivo, $n$, introducido por el usuario y después muestre en pantalla la suma de todos los enteros al cuadrado desde 1 hasta $n$. La suma de los $n$ primeros enteros cuadrados positivos puede ser calculada de la siguiente forma: 

$$ \mbox{suma_cuadrado} = \frac{n(n+1)(2n+1)}{6} $$

*Introduzca un número entero: 5* <br>
*La suma de los primeros números enteros cuadrados desde 1 hasta 5 es 55.0*

In [60]:
n  = int(input())
suma_cuadrado = n*(n+1)*(2*n+1)/6
print('El resultado es {}'.format(suma_cuadrado))

5
El resultado es 55.0

## numpy

**Ejercicio 2** 

Resuelva el siguiente sistema de ecuaciones con el método matricial **Ax = y**.

$$
1x_1 + 2x_2 + 3x_3 + 4x_4 + 5x_5 =  7\\
2x_1 + x_2+ 2x_3 + 3x_4 + 4x_5 = -1\\
3x_1 + 2x_2 + x_3 + 2x_4 + 3x_5 = -3\\
4x_1 + 3x_2 + 2x_3 + x_4 + 2x_5 = 5\\
5x_1 + 4x_2 + 3x_3 + 2x_4 + x_5 = 17
$$

Como salida crea una variable ``X`` (array) con la solución del sistema

In [61]:
A = np.array([[1,2,3,4,5],
              [2,1,2,3,4],
              [3,2,1,2,3],
              [4,3,2,1,2],
              [5,4,3,2,1]])
B = np.array([7,-1,-3,5,17])

In [62]:
X = np.linalg.inv(A).dot(B)

In [63]:
X

array([-2.,  3.,  5.,  2., -4.])

## Pandas

**Ejercicio 3**

Cree un diccionario con los siguientes datos y posteriormente cree un dataframe llamado ``df``

| Mes     | Ventas | Gastos |
| ------- | -----: | -----: |
| Enero   |  30500 |  22000 |
| Febrero |  35600 |  23400 |
| Marzo   |  28300 |  18100 |
| Abril   |  33900 |  20700 |

**Ejercicio 4**

1. Importe el la data ``diabetes.csv``
2. Cree una nueva columna llamada ``nueva_columna``. Dicha columna debe contener la raiz cuadrada del campo ``age``
2. Luego elimine la columna ``Pregnancies``
3. Agrupe ``group by`` por Outcome, el promedio de las columnas ``Glucose``, `` Age`` . ``nueva_columna``

In [64]:
import pandas as pd

In [69]:
df = pd.read_csv('data/diabetes.csv')

In [70]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [71]:
df['nueva_columna'] = df['Age'].apply(lambda x: x**(1/2))
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nueva_columna
0,6,148,72,35,0,33.6,0.627,50,1,7.071068
1,1,85,66,29,0,26.6,0.351,31,0,5.567764
2,8,183,64,0,0,23.3,0.672,32,1,5.656854
3,1,89,66,23,94,28.1,0.167,21,0,4.582576
4,0,137,40,35,168,43.1,2.288,33,1,5.744563
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,7.937254
764,2,122,70,27,0,36.8,0.340,27,0,5.196152
765,5,121,72,23,112,26.2,0.245,30,0,5.477226
766,1,126,60,0,0,30.1,0.349,47,1,6.855655
767,1,93,70,31,0,30.4,0.315,23,0,4.795832

In [72]:
df.drop(labels = ['Pregnancies'], axis = 1, inplace =True)

In [73]:
df

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,nueva_columna
0,148,72,35,0,33.6,0.627,50,1,7.071068
1,85,66,29,0,26.6,0.351,31,0,5.567764
2,183,64,0,0,23.3,0.672,32,1,5.656854
3,89,66,23,94,28.1,0.167,21,0,4.582576
4,137,40,35,168,43.1,2.288,33,1,5.744563
...,...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0,7.937254
764,122,70,27,0,36.8,0.340,27,0,5.196152
765,121,72,23,112,26.2,0.245,30,0,5.477226
766,126,60,0,0,30.1,0.349,47,1,6.855655
767,93,70,31,0,30.4,0.315,23,0,4.795832

In [75]:
df.groupby(['Outcome'])[['Glucose','Age','nueva_columna']].mean()

            Glucose        Age  nueva_columna
Outcome
0        109.980000  31.190000       5.503232
1        141.257463  37.067164       6.023605